<h1>Sign Up Below:</h1>

<form action='/registrations' method="post">
  <h2>Posts</h2>

  <label for="name"> Name</label><br>
  <input id="name" type="text" name="user[name]" />

  <label for="mail">Email </label>
  <input id="mail" type="text" name="user[email]" />

  <label for="pass">Password</label>
  <input id="pass" type="text" name="user[password]" />

<input type="submit" value="Submit">

</form>
