<h1>Sign Up Below:</h1>

<form action='/registrations' method="post">
  <h2>Posts</h2>

  <label for="name">Post Name</label><br>
  <input id="name" type="text" name="post[name]" />
  <label for="content">Content</label>
  <input id="content" type="text" name="post[content]" />
<input type="submit" value="Submit">

</form>

