<h1>Sign Up Below:</h1>

<form action='/registrations' method="post">
  <h2>Posts</h2>

  <label for="name"> Name</label><br>
  <input id="name" type="text" name="user[name]" />
  <label for="content">Email </label>
  <input id="content" type="text" name="user[email]" />
  <label for="password">Password</label>
  <input id="password" type="text" name="user[password]" />
<input type="submit" value="Submit">

</form>
